---

# all-post-onetime.yml
- name: Register all-post-onetime.bak
  stat: path=/var/tmp/all-post-onetime.bak
  register: allpostonetime
- name: Tasks for all distros - one time
  import_tasks: all-post-onetime.yml
  when: not allpostonetime.stat.exists
