---

- name: OS Packages (Fedora Atomic)
  import_tasks: packages-fedoraatomic.yml
  when: pkgmgr == 'atomic_container' and distribution == 'Fedora'

- name: CustomScripts
  import_tasks: ccs.yml

- name: OS Settings
  import_tasks: settings.yml

- name: Shell Config
  import_tasks: shell.yml

- name: Flatpak Config
  import_tasks: flatpak.yml
