- name: Print all available facts
  ansible.builtin.debug:
    var: ansible_facts

- name: Become user
  command: id -un
  register: user_out
  become: yes
  become_user: "{{ normal_user }}"
  changed_when: false
- debug: var=user_out.stdout_lines

- name: Print some debug information 
  vars:
    msg: |
        ansible_distribution: {{ distribution }}
        ansible_os_family: {{ os_family }}
        ansible_distribution_version: {{ distro_version }}
        ansible_pkg_mgr: {{ pkgmgr }}
        ansible_user: {{ ansible_facts['user_id'] }}
        normal_user: {{ normal_user }}
        datetime: {{ ansible_facts['date_time'].date }} {{ ansible_facts['date_time'].time }} , isodate: {{ ansible_facts['date_time'].iso8601 }}
        csfolder: {{ csfolder }}
        virt_role: {{ virt_role }}
        virt_type: {{ virt_type }}
  debug:
    msg: "{{ msg.split('\n') }}"
  tags: debug_info
