- name: Print some debug information 
  vars:
    msg: |
        ansible_distribution: {{ ansible_distribution }}
        ansible_os_family: {{ ansible_os_family }}
        ansible_distribution_version: {{ ansible_distribution_version }}
        ansible_pkg_mgr: {{ ansible_pkg_mgr }}
        ansible_user: {{ ansible_user }}
        normal_user: {{ normal_user }}
        datetime: {{ ansible_date_time.date }} {{ ansible_date_time.time }} , isodate: {{ ansible_date_time.iso8601 }}
        csfolder: {{ csfolder }}
  debug:
    msg: "{{ msg.split('\n') }}"
  tags: debug_info
